<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.BookMapper">

  <select id="bookList" resultType="entity.Book">
    select * from book order by price desc
  </select>

  <insert id="bookRegister" parameterType="entity.Book">
      insert into book(title, price, author, page)
      values(#{title},#{price} , #{author}, #{page})
  </insert>

    <delete id="bookDelete">
         delete from book where num=#{num}
    </delete>
</mapper>